<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>添加信息</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>

</head>
<body>
  <div id="app">
      <div class="panel panel-primary">
          <div class="panel-heading">
              <h3 class="panel-title">{{title}}</h3>
          </div>
      </div>
      <div class="panel-body form-inline">
          <label>
              Id:
              <input type="text" v-model="id" class="form-control" required="true" @keyup.enter="add">
          </label>
          <label>
              Name:
              <input type="text" v-model="name" class="form-control" required="true" @keyup.enter="add">
          </label>
          <input type="button" class="btn btn-primary" @click="add" value="添加">
          <label style="color: red;cursor: pointer;" @click="clearMessage"> {{message}} </label>
      </div>
      <table class="table table-hover table-striped table-bordered">
          <thead>
              <tr>
                  <td>Id</td>
                  <td>Name</td>
                  <td>Date</td>
                  <td>Control</td>
              </tr>
          </thead>
          <tbody>
              <tr v-for="item in list" :key="item.id">
                  <td>{{item.id}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.date}}</td>
                  <td><span title="删除" @click="deleteItem(item.id)" style="cursor: pointer;color: red;" class="glyphicon glyphicon-remove"></span></td>
              </tr>
          </tbody>
      </table>
  </div>

  <script type="text/javascript">
    var vm = new Vue({
        el: '#app',
        data: {
            list : [],
            id:'',
            name:'',
            title: '添加信息',
            message: ''
        },
        created(){
            this.getList();
        },
        methods: {
            add(){
                if(this.id.trim() == '' || this.name.trim() == ''){
                    this.message = "输入不能为空";
                    return;
                }
                //1、读取表单信息,将信息存制list
                for(var i = 0;i < this.list.length;i++){
                    if(this.list[i].id === this.id){
                        this.message = "id不能重复";
                        return;
                    }
                }
                this.list.push({"id": this.id, "name":this.name, "date": new Date().toLocaleDateString()});
                //2、将新的list更新到json文件中
                this.setList();
            },
            setList(){
                var listObj = {
                    list: this.list
                };
                this.$http.post('http://localhost:3000/setlist', {list: listObj}).then(function(result){
                    if(result && +result.status === 200){
                        this.message = "更新成功";
                    }else{
                        this.message = "更新失败";
                        this.getList();
                    }
                });
            },
            clearMessage(){
                this.message = '';
            },
            deleteItem(id){
                for(var i = 0;i < this.list.length;i++){
                    if(id === this.list[i].id){
                        this.list.splice(i, 1);
                        i = this.list.length;
                    }
                }
                this.setList();
            },
            getList(){
                this.$http.get('http://localhost:8080/getlist').then((res) => {
                    if(!res.body){
                        this.message = '信息获取失败'
                    }else{
                        this.list = res.body.list;
                    }
                });
            }
        }
    });
</script>
</body>
</html>